<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form #loginForm="ngForm" (ngSubmit)="fazerLogin(loginForm.value)">
      <h1>Acessar</h1>
      <ion-label>Login</ion-label>
      <ion-input name="login" ngModel></ion-input>

      <ion-label>Senha</ion-label>
      <ion-input name="senha" ngModel></ion-input>

      <ion-button type="submit">Fazer Login</ion-button>
    </form>


    <form #registrarForm="ngForm" (ngSubmit)="criarConta(registrarForm.value)">
      <h1>Criar Conta</h1>
      <ion-label>Login</ion-label>
      <ion-input name="login" ngModel></ion-input>

      <ion-label>Senha</ion-label>
      <ion-input name="senha" ngModel></ion-input>

      <ion-button type="submit">Fazer Login</ion-button>
    </form>

    <form #inserirForm="ngForm" (ngSubmit)="inserirAluno(inserirForm.value)">
      <h1>Inserir Aluno</h1>
      <ion-label>Nome</ion-label>
      <ion-input name="nome" ngModel></ion-input>

      <ion-button type="submit">Cadastrar Aluno</ion-button>
    </form>

    <form #removerForm="ngForm" (ngSubmit)="removerAluno(removerForm.value)">
      <h1>Inserir Aluno</h1>
      <ion-label>Nome</ion-label>
      <ion-input name="nome" ngModel></ion-input>

      <ion-button type="submit">Cadastrar Aluno</ion-button>
    </form>
    
</ion-content>